<h1>Editing Store Flavor</h1>

<%= render 'form', store_flavor: @store_flavor %>

<%= button_to "Show", @store_flavor, :class => "btn btn-primary", :method => :get %> <br>
<%= button_to "StoreFlavor Home", store_flavors_path, :class => "btn btn-primary", :method => :get %>
